.about_container{
    height: 100vh;
    width: 96vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about_content{
    display: flex;
    width: 1200px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.about_title {
    color: #ffffff;
    margin: 0;
    font-size: 50px;
    width: auto;
}
.about_title_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5%;
    align-items: center;
    width: 100%;
}
.about_content span {
    background-color: #3CECA7 !important;
    width: 66%;
    height: 2px;
    display: flex;
    flex-direction: row;
}
.about_description{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.about_competence{
    width: 40%;
    color: #ffffff;
}
.about_text {
    color: #ffffff;
    font-size: 17px;
    margin: 0;
    width: 50%;
    text-align: justify;
}
.about_competence_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    gap: 10px 15px;
    list-style: none;
    padding: 0;
}
.about_competence_list li{
    color: #ffffff;
    font-size: 15px;
    margin: 0;
    text-align: justify;
    background-color: #3CECA7;
    color : #000000;
    border-radius: 5px;
    padding: 5px 10px;
}
.about_profil_link a{
    color: #ffffff;
    font-size: 17px;
    margin: 0;
    text-align: justify;
    text-decoration: none;
    background-color: #3CECA7;
    color : #000000;
    margin: 0 15px 0 0;
    border-radius: 5px;
    padding: 5px 10px;
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .about_content{
        width: 90%;
    }
    .about_title{
        width: auto;
        text-align: end;
    }  
.about_content span{
    width: 56%;
}
    .about_competence{
        width: 45%;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .about_container{
        width: 100vw;
        height: auto;
    }
    .about_content{
        width: 95%;
    }
    .about_title{
        font-size: 25px;
    }
    .about_content span{
        width: 30%;
    }
    .about_description{
        flex-direction: column-reverse;
        align-items: center;
    }
    .about_text, .about_competence{
        width: 100%;
        text-align: justify;
        font-size: 15px;
    }
    .about_text p{
        margin: 5px;
    }
    .about_competence_list{
        width: 100%;
        gap: 5px 10px;
        margin:0 5px;
    }
    .title_inverted{
        text-align: end;
    }
}